/* .chart-area{
    box-sizing:border-box;
    height: 400px;
    border-radius: 20px;
    color: #193B68;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 5px 20px rgb(0, 0, 0, 0.1);
    padding: 20px;
} */
.chart-area-title{
    font-size: 18px;
    font-weight: 600;
    padding-left: 15px;
}
.bos{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}
.text-samp{
    margin-left: 20px;
    font-weight: 700;
}
@media only screen and (max-width: 1100px) {
    .bos{
        width: 100%;
    }
}
@media only screen and (max-width: 780px) {
    .bos{
        width: 550px;
    }
}

@media only screen and (max-width: 750px) {
   
    .bos{
        width: 100%;
        display: grid;
    grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 415px) {
   
    .bos{
        width: 100%;
        display: grid;
    grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 376px) {
   
    .bos{
        width: 100%;
        display: grid;
    grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 321px) {
   
    .bos{
        width: 100%;
        display: grid;
    grid-template-columns: 1fr;
    }
}