.home-content-grid1{ 
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.home-content-grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-content-grid3{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.home-grid-weather{
    height: 180px;
    margin: 15px 10px;
}
.home-grid-covid{
    height: 180px;
    margin: 15px 10px;
}
.box3{
    height: 100px;
    background-color: blue;
    margin: 15px 10px;
}
.home-content-data{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.home-grid-data{
    height: 100px;
    margin: 15px 10px;
}
.home-grid-chart{
    height: 100px;
    margin: 10px 10px;
}
