.modal {
  visibility: visible;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.219);
  display: none;
}

.modal-open {
  display: block;
  visibility: visible;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.219);
}

.modals {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;

}

.modal-content {
  width: 700px;
  min-height: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
}

.times {
  margin: 0;
  padding: 0;
  float: right;
  margin-bottom: 10px;
}

.times span {
  margin: 0;
  padding: 0;
  font-size: 20px;
  width: 35px;
  height: 35px;
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 50%;
  background-color: #e5e5e5;
  color: #193b685e;
  cursor: pointer;
  transition: all 0.5s;
}

.times span:hover {
  color: #fff;
  background-color: rgb(238, 102, 102);
}

.nav-modal {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1.2fr;
  justify-items: center;
  font-variant: small-caps;
}

.nav-modal span {
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  color: rgba(14, 56, 110, 0.623);
  padding: 5px;
  display: grid;
  align-items: center;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.3s;
}

.nav-modal span:hover {
  background-color: #1479ff;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
}
.grid-add{
  display: grid;
  grid-template-columns: 1fr;
}
/* หน้า room */
.addroom-content {
  display: grid;
  grid-template-columns: 250px 1fr;
}

.adduser-content {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.adduser {
  width: 400px;
}

.addroom {
  display: grid;
  justify-items: center;
}

.title-addroom h1 {
  font-size: 26px;
  font-weight: 500;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  color: #193b68;
  font-family: "Quicksand", sans-serif;
}

.input-romm {
  width: 100%;
  height: 40px;
  border: none;
  padding-left: 10px;
  outline: none;
  margin-top: 15px;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-size: 14px;
  border-bottom: 0.5px solid #000;
  color: #193b68;
  font-family: "Quicksand", sans-serif;
}

.btn-addroom {
  width: 100%;
}

.btn-addroom button {
  float: right;
  height: 35px;
  width: 100px;
  border: none;
  padding: 2px;
  margin-top: 20px;
  border-radius: 29px;
  transition: all 0.5s;
  background-color: #1479ff;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  box-shadow: rgba(20, 112, 255, 0.25) 0px 10px 20px,
    rgba(20, 112, 255, 0.22) 0px 5px 5px;
}

.btn-addroom button:hover {
  background-color: #193b68;
}

.box-icon-addroom {
  width: 100%;
  min-height: 400px;
  
  padding: 20px 20px 20px 20px;
}
.icon-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 10px;
}
.box-icons{
  /* width: 100%; */
  background-color: #fff;
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
}
.icon-addroom {
  width: 100%;
  height: 100%;
  background-color: #193B68;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
}

.input-select {
  width: 100%;
  height: 40px;
  border: none;
  padding-left: 10px;
  outline: none;
  margin-top: 15px;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-size: 14px;
  border-bottom: 0.5px solid #000;
  color: #193b68;
  appearance: none;
  font-family: "Quicksand", sans-serif;
}

.input-option {
  font-family: "Quicksand", sans-serif;
}

/* --createFaceId-- */
.create-faceid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.create-faceid-webcam {
  display: flex;
  flex-direction: row;
}

.btn-faceid {
  background: #1470FF;
  width: 200px;
  height: 35px;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 29px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: rgba(20, 112, 255, 0.25) 0px 10px 20px, rgba(20, 112, 255, 0.22) 0px 5px 5px;
  font-weight: 500;
  margin: 20px 0;
  letter-spacing: 1px;
}

.btn-faceid:hover {
  background: #193B68;
}
/* ------------ */
.box-icons-adds{
  width: 100%;
  display: grid;
  justify-items: start;
}
.box-icon-romm{
  background-color: #193B68;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 5px;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  border-radius: 15px;
}
.modal-icon{
  width: 30px;
}