.box-data{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr ;
}
.box-data-api{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.box-data-chart{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.home-box-data{
    margin: 10px;
    border-radius: 20px;
    color: #193B68;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 5px 20px rgb(0, 0, 0, 0.1);
    height: 100px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
.home-box-data-icon{
    width: 70px;
    height: 70px;
    background:#193B68;
    border-radius: 20px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-icon{
    width: 30px;
    height: 30px;
}
.home-box-data-text{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
}
.home-box-data-tile{
    font-size: 16px;
}
.home-box-data-value{
    font-size: 24px;
    color: #1470FF;
    font-weight: 600;
}

@media only screen and (max-width: 1000px) {
    .box-data-api {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .box-data-api {
      display: grid;
      grid-template-columns: 1fr;
    }
}
