.room-content-grid{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.room-content-switch{
    margin: 15px 10px;
}
@media only screen and (max-width: 1100px) {
    .room-content-grid{ 
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
  }

  @media only screen and (max-width: 600px) {
    .room-content-grid{ 
        display: grid;
        grid-template-columns: 1fr;
    }
  }