.room-content-grid{ 
    width: 100%;
    display: grid;
    grid-template-columns: 1fr ;
}
.room-content-switch{
    margin: 15px 10px;
}
.room-content{
    width: 100%;
    min-height: 100vh;
    
}

